@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Handlee|Karla&display=swap');
@import './variables.scss';

html {
    min-height: 100vh;
    overflow: auto;
    width: 100%;
    body {
        height: 100%;
        width: 100%;
    }
}

@import '../../node_modules/bulma/bulma.sass';
